@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 100% !important;
  }
}

@media (max-width: 576px) {
  .major {
    flex-direction: column !important;
  }
}

@media (min-width: 768px) {
  .container, .container-sm {
    max-width: 100% !important;
  }
}

@media (min-width: 1100px) {
  .container, .container-sm {
    max-width: 1100px !important;
  }
}

.table td {
  vertical-align: middle !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #FAFFFF;
}
